.about {
}
.london {
    font-size: 8.8rem;
    display: block;
    font-weight: 900;
    color: $COLOR_THEME;
    line-height: 0.9;
    margin-left: -0.5rem;
}
.mob {
    display: flex;
    align-items: center;
    line-height: 0;
    margin-top: 2rem;
}
.mob-icon {
    margin-right: 1rem;
    font-size: 3rem;
}

@include mobile {
}
