.about {
}
.chris-img {
    height: 50rem;
    margin-left: 4rem;
    background-size: cover;
    background-position: right center;
    filter: grayscale(60%);
    background-image: url('/imgs/christopher-seabolt.jpg');
}

.caption {
    position: absolute;
    bottom: 1.5rem;
    right: 1rem;
    color: #fff;
    font-size: 1.4rem;
}

@include mobile {
    .chris-img {
        display: block;
        height: 40rem;
        margin: 4rem 0 0;
        background-position: right 30%;
    }
}
