.projects .paralex-img {
    background-image: url('/imgs/business2.jpg');
    background-image: url('/imgs/building.png');
    background-position: 70% center;
}
.projects-cover {
    background-color: rgba(lighten($COLOR_THEME, 3), 0.7);
}

.projects-header {
    font-size: 1.6rem;
    padding: 0;
    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        font-weight: 600;
    }
    ul {
        padding: 4rem 0;
    }
    li {
        display: inline-block;
    }
}
.projects-count {
    font-size: 3.5rem;
    font-weight: 700;
    b {
        font-size: 7rem;
        display: block;
    }
}
.project_logo {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.2rem 2.2rem;
    height: 7rem;
    border-radius: 8px;
    margin: 0.7rem 1rem;
}
.link {
    height: 2.8rem;
    filter: invert(1);
    margin-right: 0.7rem;
}

@include mobile {
    .project_logo {
        height: 5rem;
        margin: 0.2rem 0.3rem;
        padding: 1rem;
    }
}
