.paralex {
    position: relative;
    min-height: 60rem;
    overflow: hidden;
    background-color: rgba(79, 91, 112, 1);
    display: grid;
    align-content: center;
    color: $COLOR_DARK;
    padding: 9rem 4rem 8rem;
}
.paralex-img {
    position: absolute;
    height: calc(100% + 40rem);
    width: 100vw;
    top: -20rem;
    left: 0;
    background-size: cover;
    background-position: center top;
    // filter: grayscale(60%);
    transform: translateZ(0); //for safari jittering on scroll
}
.paralax-content {
    padding: 8rem 0 5rem;
    width: $WRAPPER;
    margin: auto;
    font-size: 2.2rem;
}

.paralex-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(79, 91, 112, 0.6);
    background-color: rgba(220, 220, 220, 0.7);
}
.paralex-title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    letter-spacing: 0rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}
.paralex-subtitle {
    font-size: 2.6rem;
    font-weight: 400;
    margin-top: 1.5rem;
    line-height: 1.2;
    max-width: 60rem;
}

.top .paralex-img {
    background-image: url('/imgs/section2.jpg');
    background-position: 60% 20%;
    top: -2.9rem;
}
.paralex.middle {
    min-height: 10rem;
    .paralax-content {
        padding: 0;
    }
}
.middle .paralex-img {
    background-image: url('/imgs/section1.jpg');
    background-position: center 90%;
}
.middle .paralex-cover {
    background-color: rgba($COLOR_THEME, 0.9);
}
.bottom .paralex-img {
    background-image: url('/imgs/section1.jpg');
    background-position: center 10%;
}

.section-subtitle {
    font-size: 2.4rem;
    font-weight: 800;
    margin: 0 0 2rem;
    line-height: 1.4;
}

@include mobile {
    .paralex-title {
        font-size: 4rem;
    }
    .paralex-subtitle {
        font-size: 2.4rem;
    }
    .gamechanger {
        font-size: 3rem;
        font-weight: 700;
    }
}
