.colums-3 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    color: #fff;
    text-align: center;
    div {
        width: 30%;
    }
    h3 {
        font-weight: 600;
        margin: 1rem auto;
    }
    p {
        max-width: 300px;
    }
}
.icon-circle {
    font-size: 6rem;
    height: 8rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-flag {
    transform: scaleX(1.5);
}
