//==========================
//  SCREEN READERS STYLING
//==========================
body {
    overflow-x: hidden;
    color: #223344;
    font-family: 'Montserrat', sans-serif;
}
html {
    scroll-behavior: smooth;
}
h1,
h2,
.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px); //IE6 and IE7
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

button:focus {
}
a:link,
a:visited a:active {
}
a:hover {
}
a:focus {
}
p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    line-height: 1.6;
}

.bg--theme {
    background-color: $COLOR_THEME;
}
.bg--secondary {
    background-color: $COLOR_SECONDARY;
}
.color--theme {
    color: $COLOR_THEME;
}
.color--white {
    color: #fff;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.cover--white {
    background-color: rgba(255, 255, 255, 0.6);
}

footer {
    background-color: $COLOR_SECONDARY_DARK;
    background-color: $COLOR_SECONDARY;
    color: $COLOR_SECONDARY_DARK;
    padding: 3rem 4rem;
    text-align: center;
    font-size: 1.2rem;
}

.wrapper {
    max-width: 110rem;
    width: 80%;
    padding: 10rem 4rem;
    margin: auto;
}
.two-columns {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}
.column-left {
    padding-right: 5rem;
}

@include tablet {
    .wrapper {
        width: 100%;
    }
}
@include mobile {
    .wrapper {
        padding-right: 3rem;
        padding-left: 3rem;
    }
    .two-columns {
        display: block;
    }
    .column-left {
        padding-right: 0;
    }
}
